* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: whitesmoke;
  height: 10vh;
  width: 100%;
  top: 0;
}
header {
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p{
  color: rgb(0, 0, 0);
  font-size: larger;
  text-align: center;
}

.home-section,
.about-section,
.gullery-section,
.contact-section {
    height: 100vh;
    width: 100%;
}
.home-section {
    background-color: #9c3636;
}

.about-section {
    background-color: #399c36;
}

.gullery-section {
    background-color: #38369c;
}

.contact-section {
    background-color: #929c36;
}

main {
  height: 80vh;
}

.navigation-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.navigation {
  border-right: 1px solid rgb(145, 144, 144);
  background-color: whitesmoke;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navigation ul li {
  background-color: rgb(143, 143, 143);
  width: 50px;
  height: 50px;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navigation ul li.current {
  background-color: rgb(29, 29, 29);
  transition: 1s;
  animation: merge 0.8s ease-in-out 0s 1 alternate forwards;
}

@keyframes merge {
    0%, 100% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(20deg);
    }
    70% {
        transform: rotate(-20deg);
    }
}

.wrapper {
  background-color: whitesmoke;
  width: 100%;
  transition: 1s;
  overflow: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.section-heading {
    width: 100%;
    height: fit-content;
    font-size: 20px;
    background-color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:20px;
}
